$primary-purple: #332981; 		// darker purple
$secondary-purple: #eff0fd;		// lighter purple
$accent-blue: #9cb5ff; 			// light blue
$accent-peach: #da2b10;			// stronger peach red

$primary-header: #332981; 		// purple
$secondary-header: #da2b10; 	// stronger peach red
$tertiary-header: #abc8f8; 		// lighter peach
$text-links: #da2b10;			// stronger peach red
$primary-text: #262243;			// purple black

// extensions
%textLinks {
	font-family: proxima-nova, sans-serif;
	font-size: 0.938em;
	font-weight: 600;
	color: $accent-blue;
	text-decoration: none;
}

%contentPadding {
	padding: 6.875em 4.063em;
}

%largeIcons {
	width: 100%;
	text-align: center;
	position: absolute;
	display: flex;
	justify-content: center;
	bottom: 3em;

	.anchor-icon {
		width: 3em;
		height: 3em;
		border-radius: 3em;
		background-color: $primary-purple;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.anchor-icon:hover {
		background-color: $accent-peach;
		transition: 0.5s ease;
	}

	.anchor-icon img {
		width: 1.5em;
	}
}

%darkCircularIcons {
	width: 100%;
	text-align: center;
	display: flex;
	justify-content: center;
	margin: 3em 0 0 0;

	.anchor-icon {
		width: 3.125em;
		height: 3.125em;
		border-radius: 3.125em;
		background-color: $primary-purple;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	.anchor-icon:hover {
		background-color: $accent-peach;
		transition: 0.5s ease;
	}

	.anchor-icon img {
		width: 1.563em;
	}
}

// media queries
@media screen and (max-width: 1040px) {
	%contentPadding {
		padding: 5.938em 4.063em;
	}
}

@media screen and (max-width: 480px) {
	%contentPadding {
		padding: 5.938em 2.188em;
	}
}